{% extends 'menubar.html' %}
{% block content %}
{% load mathfilters %}
    <!-- 업로드 성공시 -->
    {% if messages %}
	    {% for message in messages %}
        <p>{{ message.message }}</p>
	    {% endfor %}
    {% endif %}
   
    <p>기준학점 모델에서의 총 학점 : <span class="my_span"> {{ gs_sum }} </span></p>
    <p>업로드된 기이수 학점에서의 총 학점 : <span class="my_span"> {{ data_sum }} </span></p>

    {% if gs_sum > data_sum  %}
    <p class="my_p"> 기준학점보다 모자랍니다. </p>
    {% else %}
    <p class="my_p"> 기준학점을 만족합니다. </p>
    {% endif %}

    <p>기준 전필 학점 모델에서의 필요 학점:<span class="my_span">{{num_me}}</span></p>
    <p>엎로드된 기이수 학점 모델에서의 전필 학점:<span class="my_span">{{my_num_me}}</span></p>

    {% if num_me <= my_num_me%}
    <p class="my_p"> 전필기준학점을 만족합니다. </p>
     {% else %}
    <p class="my_p"> 전필기준학점이<span class="my_span">{{need_me_score}}</span>점 부족합니다. </p>
    {% endif %}

    <p>기준 전선 학점 모델에서의 필요 학점:<span class="my_span">{{num_ms}}</span></p>

    {% if num_ms <= my_num_ms%}
    <p class="my_p"> 전선기준학점을 만족합니다. </p>
    {% else %}
    {% if num_ms <= final_num_my_ms %}
    <p class="my_p"> 전선 학점이 부족했지만 전필에서 <span class="my_span">{{remain}}</span> 학점이 남아 기준을 만족했습니다.</p>
    {% else %}
    <p class="my_p"> <span class="my_span">{{need_ms_score}}</span> 전선기준학점이 부족합니다. </p>
    {% endif %}
    {% endif %}

    <p class="my_p"> 중필</p>
    {% if recom_ce%}
        <p>들어야하는 과목입니다.</p>
        <p>{{recom_ce_list}}</p>
    {% else %}
        <p>모든 필수 과목을 들었습니다!</p>
    {%endif%}



{% endblock %}