{% extends 'reference.html' %}

{% block content %}
<!-- 배너 -->
<div class="container">
    <div class="txtcontainer">
        <p class="lgtxt">
            당신이 졸업을 할 수 있을지 확인하세요
        </p>

        <p class="smtxt">
            PleaseGraduate에서 최소한의 정보만 입력하여 모자란 학점, 부족한 영역, 들어야할 과목 추천등을 한눈에 확인하세요
        </p>
        <button onclick="location.href='/result_test/'" class="signup">
            Signup
        </button>
    </div>
    <div class="imgcontainer">
        <img
            src="https://cdn.dribbble.com/users/43577/screenshots/5962634/specify-dribbble-03_4x.png?compress=1&resize=1200x900" />
    </div>
</div>
{% endblock %}



{% block js_section %}
<!-- js 파트 -->
<script>
    const toggleb = document.querySelector('.navbar_toggle');
    const menu = document.querySelector('.navbar_menu');

    toggleb.addEventListener('click', () => {
        menu
            .classList
            .toggle('active');
    });
</script>
{% endblock %}
