{% extends 'menubar.html' %}
{% block content %}

    <p class="my_p"> css 체크 : 이 문단이 빨강이면 static 폴더의 CSS 파일이 잘 참조된겁니다 </p>
    <br><br>
    <!--
        url태그 사용하기.
        1. href의 이름을 가지고 urls.py로 가서 해당 url 이름을 찾는다. OR href의 별명을 가지고 해당 url의 별명을 찾는다 
        2. 찾았다면 해당 패턴의 views 함수를 실행
        3. views에서 해당 함수를 실행하게됨.
    -->
    <a href="/dbcheck/">DB 연동 체크</a>
    <br><br>
    <a href="/upload/">파일 업로드 and 로그인</a>
    <br><br>
    <a href="/f_test/">py 테스트용</a>
    <br><br>
    

{% endblock %}