<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- static 폴더 참조 -->
    <!-- 원그래프 js는 각 페이지에서 소환해야됨 (일회성 호출이라서.) -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- 웹 참조-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/e8a335040d.js" crossorigin="anonymous"></script>

    <!-- 웹 폰트 참조-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap" rel="stylesheet">

    <title>졸업을 부탁해</title>
</head>

<body>
    <!-- 로고 / 메뉴바-->
    <nav class="navbar">
        <div class="navbar_logo">
            <a href="/head/"><img src="../static/img/LogoMakr-4uW6co.png"></a>
        </div>

        <ul class="navbar_menu">
            <li>
                <a href="/head/">Home</a>
            </li>
            <li>
                <a href="#">Signup</a>
            </li>
        </ul>

        <a href="#" class="navbar_toggle">
            <i class="fas fa-bars"></i>
        </a>
    </nav>

    {% block content %}
    {% endblock %}
    
</body>

{% block js_section %}
{% endblock %}

</html>