{% extends 'menubar.html' %}
{% block content %}

<div style="background-color: rgb(199, 199, 199); padding:2rem;">
    uis로 로그인
    <br><br>
    <form action="/f_login/" method="post">
        {% csrf_token %}
        <label>아이디</label>
        <input type="text" name="id" placeholder="ID">
        <br>
        <label>비밀번호</label>
        <input type="password" name="pw" placeholder="PW">
        <br>
        <input type="submit" value="로그인">
    </form>
</div>
<br>
<div style="background-color: rgb(199, 199, 199); padding:2rem;">
    더이상 사용 X
    <br>
    기이수 엑셀파일 업로드 시 해당 파일을 분석해서 기준DB와 비교하는 페이지로 이동!!!!
    <br><br>
    <!-- post 형태로 미디어 데이터를 백엔드로 넘긴다. -->
    <form action="/f_upload/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="file" id="id_file">
        <br><br>
        <input type="submit" value="이 버튼 누르면 media 폴더로 업로드">
    </form>
</div>

{% endblock %}