.mytd {
    color: black;
    border-right :1px solid #dadada;
}

.mytable {
    margin:0 auto;
    width: 90%;
    text-align: center;
    font-size: 1rem;
    padding-top : 3rem;
    padding-bottom : 4rem;
}

.myth {
    height: 3rem;
    background-color: white;
    font-weight: bolder;
    font-size: 1.2rem;
}

.mytr {
    color: #6e6e6eb9;
    height: 3rem    ;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.mytr:hover {
    background-color: #f1f1f1;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR','sans-serif';
}

a {
    text-decoration: none;
    color: black;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #FAFAFA;
    background-color: white;
    padding: 8px 12px;
}

.navbar_logo img {
    position: relative;
    left: 30px;
    width: 110px;
    margin: 0 0 0 30px;
    height: 45px;
}
.navbar_menu {
    display: flex;
    font-size: 15px;
    list-style: none;
    padding-left: 0;
    margin-right: 25px;
}

.navbar_menu li {
    padding: 8px 12px;
    margin-right: 20px;
}

.navbar_menu li:hover {
    background-color: blanchedalmond;
    border-radius: 4px;
}

.navbar_toggle {
    display: none;
    font-size: 24px;
    position: absolute;
    top: 3%;
    right: 4%;
}

.login-box {

    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;

}

.login-box h1 {
    float: left;
    font-size: 40px;
    border-bottom: 6px solid #4caf50;
    margin-bottom: 50px;
    padding: 13px 0;
}

.textbox {
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #4caf50;

}

.container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    background-color: #F9F8FD;
}
.txtcontainer {
    margin-left: 10%;
    padding-right: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container img {
    width: 600px;
    height: 450px;

}
.lgtxt {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 33px;

}

.smtxt {
    font-family: noto;
    font-size: 17px;
    font-weight: 500;
    font-family: 'courgette';
    padding-bottom: 15px;

}

.signup {
    font-size: 17px;
    width: 100px;
    height: 32px;
    border-radius: 5px;
    background-color: blanchedalmond;
    border: 0;
    cursor: pointer;
}

@media screen and (max-width: 900px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar_logo {
        padding: 10px;

    }

    .navbar_menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
        display: none;
    }

    .navbar_menu li {
        width: 100%;
        text-align: center;
        padding: 13px;
    }
    .navbar_menu li:hover {
        background-color: white;

    }
    .navbar_toggle {
        display: block;
    }

    .navbar_menu.active {
        display: flex;
    }

    .container {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .txtcontainer {

        order: 2;
    }

    .container img {
        width: 550px;
        height: 375px;
        margin-bottom: -90px;

    }
    .signup {
        margin-left: 180px;
        margin-top: -20px;

    }
    
    .smtxt {
        width: 500px;
        font-size: 16px;

    }
    .cap{
        width: 100px;
        height: 100px;
    }
    .lgtxt {

        font-size: 30px;
    }

}
.lcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F9F8FD;

}
.fcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    max-width: 100%; 
    height: 100%;
    background-color: #F9F8FD;

}

.rcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    background-color: #F9F8FD;

}

.resultbox {
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 405px;
    height: 285px;
    margin: 45px 35px 20px;
    border-color: black;
    border-style: solid;
    border-width: 2px;
    
    border-radius: 30px;
    background-color:  white;
}
.container0 {
    min-width: 735px;
    height: 370px;
}

.name {
    margin-bottom: 0;
    margin-top: 30px;
    position: relative;

    top: -20px;

    font-size: 22px;
    font-weight: 600;
    text-align: center;

    border-width: 10px;
}
.box {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: white;
    justify-content: space-evenly;
    align-content: center;
    border-radius: 30px;
    align-items: center;
    position: relative;
    
    
}
.sbox {
  
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 18px;
    border-radius: 15px;
    margin-right: 0px;
    margin-left: 0;
    border-style: solid;
    border-width: 0px;
    position: relative;
    left : -22px;
    width: 180px;
    height: 220px;
}
.rbutton{
    width: 150px;
    position: relative;
    background-color:  white;
    border: none;
    
    border-style: solid;
    border-width: 2.5px;
    border-radius: 18px;
    margin-bottom: 18px;
    margin-top: 17px;
    font-size: 17px;
    font-weight: 700;
    height: 40px;
    cursor: pointer;

}
.rbutton:hover{
    background-color:#D7DBD1;

}
.Sbox {
    background-color:  white;
    margin: 0;
    
    width: 350px;
    height: 280px;
}
.gbox{
    display: flex;
    font-size: 20px;
    font-weight: 600;
    margin: 8px;
    position: relative;
    top :0px;
    letter-spacing: 2px;
    margin-bottom: 5px;
    justify-content: space-around;
    flex-direction: row;
}
.q{
    position: relative;
    top: -10px;
}
.t{
    position: relative;
    right: 40px;
    width: 170px;
    margin: 2px;
    text-align: center;
}
.T{
    font-size: 24px;
    margin-top: 5px;
    position: relative;
top: 25px;
    left: -50px;
    width: 500px;
    background-color: none;
}
.Grade{
    position: relative;
    left: -70px;
    width: 150px;
}
.total_strong {
    position: relative;
    top: -105px;
    left: -175px;
    font-size: 38px;

}
.name0 {
    font-size: 29px;
}
strong {
    position: relative;
    
    
    top: -65px;
    left: -99px;
    text-decoration: none;

    font-size: 18px;
}
.tooltip{
    cursor: pointer;
}
.tooltip_text{
    background-color: #FAFAFA;
    bottom: 2.5rem;
    left: -35px;
    width: 250px;
    
    height: auto;
    
    box-shadow: 3px 3px 5px black;
    
    padding: 17px;
    color: black;
    border-color: lightgrey;
    border-style: solid;
    border-width: 1.5px;
    display: none;
    
    letter-spacing: 3px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 15px;
    position: absolute;
}

.r{
    width: 50px;
}
.grade{
    color:#424242    ;
    font-weight: 500;
    
    position: relative;
    top:1px;
    font-size: 18px;
    margin-right: 18px;

}
.p{
    position: relative;
    font-weight: 600;
    
    font-size: 17px;
    
    top : 5px;
    right: -50px;
    letter-spacing: 5px;

}

.y{
    width: 60px;
    top:1px;
   
    margin: 0;
    margin-right: 10px;
    
}

.Y{
    position: relative;
    width: auto;
    
    top:-17px;
}
.book{
    color:#424242    ;
    margin: 0;
  
    font-weight: 500;
    position: relative;
    top:1px;
    
    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;

}


.tooltip_text.active{
    display: block;
}

.name title{
    font-size: 50px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    border-radius: 5px;
    margin: 5% auto; /* 15% from the top and centered */
    padding: 5rem;
    border: 1px solid #888;
    width: 80%;
    height: 70%;
    /* Could be more or less, depending on screen size */                          
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.Gbox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cap{
    
position: relative;
display: block;
height: 10px;
top : 2px;

left: -55px;


    margin: 0;
    
    font-size: 35px;
}


