

.csstest{
    color:red;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR','sans-serif';
}

a {
    text-decoration: none;
    color: black;
}

/* 아이폰에서 input css 적용하기 */
input[type="submit"],
input[type="text"],
input[type="password"],
input[type="number"],
input[type="checkbox"],
input[type="radio"],
input[type="button"]
{
    -webkit-appearance: none;
}

 
 
/* ---------------------------------( 상단 소개/컨테이너 공통 )---------------------------------------- */

.gray_sec{
    background-color:rgb(248,249,250) ;
    padding-top:1rem;
    padding-bottom: 2rem;
}

.white_sec{
    background-color: white;
    padding-bottom: 1rem;
}

.big_title{
    font-size:2rem; 
    font-weight:bold;
}

.small_title{
    margin-top:0.5rem; 
    font-size:1rem; 
    color:rgb(199, 199, 199)
}

/* ---------------------------------( ref - 메뉴바 )---------------------------------------- */

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom : 0.001px solid rgb(216, 216, 216);
    background-color: white;
    padding: 13px;
}

.navbar_logo img {
    position: relative;
    width: 110px;
    height: 52px;
}

.navbar_menu {
    display: flex;
    font-size: 20px;
    list-style: none;
    padding-left: 0;
    margin: 0;
    margin-left: min(50%, 800px);
}

.navbar_menu li {
    font-size: 19px;
    padding: 8px 16px;
    cursor: pointer;
}

.navbar_menu li a:hover,
.regi_find_pwd a:hover 
{
    font-weight: bold;
    color : rgb(164, 26, 55);
}

/* ---------------------------------( ref footer )---------------------------------------- */


.footer {
    font-size: 0.7rem;
    background-color:#313131;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: gray;
    padding: 2rem;
}

.footer_list {
    list-style: none;   
    color: lightgrey;
    letter-spacing: 2px;

    border-right: 0.1px solid lightgray;
}
.footer_list li {
    margin: 10px 150px 5px;
    text-align: center;
    margin-left: 130px;
}
.copyright {
    text-align: center;
    font-size: 0.7rem;
    color: grey;
    margin-left: 150px;
    margin-right: 150px;
}

.info_btn {
    display: none;
    z-index: 1;
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #333;
    background-color: rgba(0, 0, 0, 0.3);
    font-size: 35px;
    line-height: 36px;
    text-align: center;
    color: #FFF;
    top: auto;
    left: auto;
    right: 30px;
    bottom: 35px;
    cursor: pointer;
    border-radius: 100%;
    display:block; 
    padding:10px;
}

.info_btn:hover {
    background-color: rgba(164, 26, 56, 0.829);
  }

/* ---------------------------------( head - 메인 )---------------------------------------- */

.bg_wrapper{
    background-color: rgba(241, 241, 241, 0.575);
}

.main_bg {
    animation: fadein 2s;
    -webkit-animation: fadein 2s;
    width:100%;
    max-width: 1600px;
    min-height:750px;
    background-image: url('../img/main_bg2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0 auto;
}

.sejong_logo{
    margin:1rem;
    width:10rem;
    min-height:10rem;
    background-image: url('../img/sejong_logo.png');
    background-size: 100% 100%;
    float:right;
}

.bg_text_btn {
    width:33rem;
    min-height:20rem;
    clear:right;
    float:right;
    margin-top:5rem;
    margin-right:3.0rem;
    text-align:center;
    color:white;
}

.bg_small_text{
    letter-spacing:-3px;
    font-size:2rem;
}

.bg_big_text{
    font-size:4rem;
    width:100%;
}

.bg_btn{
    padding-top : 2.5rem;
}

.bg_btn_style{
    font-weight:bold;
    color:white;
    font-size:1.2rem;
    border-radius: 3px;
    border:0;
    background-color: #313131;
    width:9rem;
    height:3.5rem;
    cursor: pointer;
}

.bg_btn_style:hover{
    background-color: white;
    font-weight: bold;
    color:black;
}

.num_visit{
    color:rgb(207, 207, 207);
    font-size:0.9rem;
    font-weight: bold;
    letter-spacing:0.8px;
    width:190px;
    clear:right;
    float:right;
    margin-top:4.2rem; 
    margin-right:0.5rem; 
}

.popup_content{
    margin:0 auto;
    text-align: center;
    width:80%;
}
.popup_title{
    margin-top:2rem;
    font-size:2.5rem; 
    font-weight:bold; 
    color : rgb(164, 26, 55)
}
.popup_box{
    margin:0 auto;
    font-size:1.1rem; 
    margin-top:2rem; 
    margin-bottom:1rem; 
    text-align:left; 
    padding:1.5rem 2rem 1.5rem 2rem;
    border: 1px solid rgb(216, 216, 216);
}
.popup_box li{
    line-height: 2.5rem;
}
.popup_check{
    font-size:1.2rem; 
    text-align: right;
    color:gray;
}

@keyframes fadein {
    from {opacity:0;}
    to {opacity:1;}
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from { opacity:0;}
    to {opacity:1;}
}


/* ---------------------------------( statistics  )---------------------------------------- */


.statistics_user_box {
    margin: 2rem 0 3rem 0;
    text-align: center;
}

.statistics_user_sub {
    font-size: 1.2rem;
    color: rgb(104, 104, 104);
    margin-bottom: 0.8rem;
}

.statistics_user_main {
    font-size: 1.6rem;
}

.statistics_color_span {
    font-size: 2rem;
    font-weight: bold;
    color: rgb(164, 26, 55)
}

.filter_wrap {
    display: block;
    text-align: center;
    border: 1px solid rgb(153, 153, 153);
    margin-bottom: -1rem;
    width: 50rem;
    margin: 0 auto;
    font-size: 1.1rem;
    margin-top: 1.5rem;
}

.filter_title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 1rem 0;
    text-align: center;
}

.filter_radio_wrap {
    margin: 2rem 0 2rem 0;
}

.filter_select_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.filter_select_div {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
}

.filter_select_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 10rem;
    height: 10rem;
    margin: 0.5rem 1rem 1rem 1rem;
    padding: 1rem;
    border: 1px solid rgb(216, 216, 216);
    background-color: white;
}

.filter_select_title {
    font-size: 1.3rem;
    font-weight: bold;
}

.filter_select_chk_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.filter_select_chk {
    text-align: left;
    margin: 0 auto;
    line-height: 2.2rem;
}

.filter_select_chk label{
    cursor:pointer;
}

.filter_btn {
    background: rgb(164, 26, 55);
    width: 12%;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    padding: 0.5rem;
    cursor: pointer;
    outline: 0;
    margin: 1.5rem 0 2.5rem 0;
}

.loading_wrap{
    font-size : 1.6rem;
    font-weight: bold;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
    letter-spacing: 3px;
}

.circle {
    display:inline-block;
    position: relative;
    top:25px;
    transform: translate(-50%, -50%);
    width: 15px;
    height: 15px;
    border: 10px solid #e0e0e0;
    border-top: 10px solid rgb(164, 26, 55);
    border-radius: 50em;
    transition: all .1s;
    animation-name: spinCircle;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spinCircle {
    from {
        transform: translate(-50%, -50%) rotate(0);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

input[type=radio] + label {
    display:inline-block;
    width: 13px;
    height: 13px;
    border: 1px solid #000000;
    cursor:pointer;
}

input[type=radio]:checked + label {
    background-image: url('../img/checker-on.svg');
}

input[type=radio] {
    display: none;
}

input[type=checkbox] + label {
    display:inline-block;
    width: 13px;
    height: 13px;
    border: 1px solid #000000;
    cursor:pointer;
}

input[type=checkbox]:checked + label {
    background-image: url('../img/checker-on.svg');
}

input[type=checkbox] {
    display: none;
}


/* ---------------------------------( login  )---------------------------------------- */

.container {
    text-align:center;
    padding-left : 10rem;
    padding-right : 10rem;
}

.login_title{
    text-align: center;    
    padding-top:2rem;
    padding-left:0.5rem;
    font-weight: bold;
}

.login_box{
    text-align:center;
    margin: 0 auto; 
    width:700px;
    margin-top:1.5rem;
    border:0.001px solid rgb(216, 216, 216);
    background-color: white; 
    padding:1.5rem;
    padding-bottom:2.5rem;
    margin-bottom:4rem;
}

.textbox {
    margin: 0 auto; 
    width: 50%;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.textbox label{
    text-align: center;
    font-size:1.1rem;
    margin-top: 1rem;
    font-weight: bold;
}

.textbox input {
    font-size: 1rem;
    background: none;
    border:0.01px solid rgb(216, 216, 216);
    padding: 10px 10px 10px 15px;
    margin-top:0.5rem;
    outline: 0;
    height:1.5rem;
}

.login_btn {
    background: rgb(164, 26, 55);
    width:17%;  
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    margin-top: 1.5rem;
    border-radius: 3px;
    padding:0.5rem;
    cursor: pointer;
    outline: 0;
}

.regi_find_pwd{
    font-size:1rem;
    margin-top: 1.5rem;
    color:rgb(204, 204, 204)
}

.regi_find_pwd a{
    text-decoration: none;
    color: #313131;
}

.regi_find_pwd span{
    margin-left : 1rem;
    margin-right : 1rem;
} 

.filter_btn:hover,
.ajax_search_btn:hover,
.add_btn:hover,
.save_btn:hover,
.login_btn:hover,
.regi_btn:hover,
.go_result_btn:hover,
.suc_btn:hover 
{
    background-color: #FEC034;
    font-weight: bold;
}

body:not(.device-touch) .info_btn,
body:not(.device-touch) .filter_btn,
body:not(.device-touch) .ajax_search_btn,
body:not(.device-touch) .add_btn,
body:not(.device-touch) .save_btn,
body:not(.device-touch) .tooltip,
body:not(.device-touch) .rbutton,
body:not(.device-touch) .show_table,
body:not(.device-touch) .my_box_mod_btn,
body:not(.device-touch) .bg_btn_style,
body:not(.device-touch) .login_btn,
body:not(.device-touch) .regi_btn,
body:not(.device-touch) .go_result_btn,
body:not(.device-touch) .suc_btn 
{
    transition: background-color .2s linear;
    -webkit-transition: background-color .2s linear;
}

.login_btn_default{
    margin-top: 22px;
    color:#d32f2f; 
    font-weight: bold;
    font-size:1.2rem;
}

/* ---------------------------------( agree )---------------------------------------- */

.info_title{
    font-size : 1.8rem;
    font-weight: bold;
    padding-top:2.5rem;
    padding-left:0.5rem;
}

.info_box{
    margin: 0 auto; 
    width: 100%;
    max-width: 1280px;
    margin-top:1rem;
    border:0.001px solid rgb(216, 216, 216);
    background-color: white; 
}

.info_box_wrapper{
    margin: 0 auto; 
    width: 100%;
    max-width: 1280px;
}

.info_content{
    margin-bottom:1.3rem;
    margin-top:1.3rem;
    margin-left:2rem;
    margin:2rem;
    font-weight:normal;
    font-size:0.9rem;
    text-align:left;
}

.confirm_btn {
    background: rgb(164, 26, 55);
    width:15%;  
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    margin-top: 1.5rem;
    border-radius: 3px;
    padding:0.5rem;
    float:right;
    cursor: pointer;
    outline: 0;
}

/* ---------------------------------( agree 검사대상 모달 )---------------------------------------- */

.target_color_span {
    font-size: 1.8rem;
    font-weight: bold;
    color: rgb(164, 26, 55)
}

.target_num_div {
    font-size:1.5rem;
    margin : 2rem 0 2rem 0;
}

.target_caution_div {
    color:#d32f2f; 
    font-weight:bold;
    font-size:1rem;
    margin : 2.3rem 0 2.3rem 0;
}

.target_table {
    font-size:1rem;
    width: 55%;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.target_table_th {
    text-align: center;
    height: 2.5rem;
    background-color: #f8f8f8;
    border-top: 1px solid #dadada;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

.target_table_td {
    text-align: left;
    padding : 0.3rem 0.7rem 0.3rem 0.7rem;
    height: 2rem;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    
}

/* ---------------------------------( agree 링크 / 강조 )---------------------------------------- */


.link_site{
    font-size:0.8rem;
    padding:0.1rem 0.3rem 0.1rem 0.3rem;
    color:white;
    border-radius: 3px;
    background-color: rgb(164, 26, 55);
}

.caution_info{
    color:#d32f2f; 
    font-weight:bold;
}

.info_agree{
    padding-top:1rem;
    text-align:right;
}


/* ---------------------------------( register )---------------------------------------- */

.regi_box {
    text-align:center;
    margin: 0 auto; 
    width: 350px;
    height: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.regi_box label{
    text-align: left;
    font-size:1.1rem;
    margin-top: 2rem;
}

.regi_box input {
    font-size: 1rem;
    background: none;
    border:0.01px solid rgb(216, 216, 216);
    padding: 10px 10px 10px 15px;
    margin-top:0.5rem;
    outline: 0;
    height:1.5rem;
}

.regi_box input::placeholder {
    color:rgb(143, 143, 143);
}

.regi_box select{
    font-size: 1rem;
    background: none;
    border:0.01px solid rgb(216, 216, 216);
    padding: 0px 10px 0px 10px;
    margin-top:0.5rem;
    outline: 0;
    height:2.8rem;
}

.regi_btn{
    background: rgb(164, 26, 55);
    width:15%;  
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    margin-top: 1.5rem;
    border-radius: 3px;
    padding:0.7rem;
    cursor: pointer;
    outline: 0;
    margin-top:2.5rem;
    margin-bottom: 3rem;
}

.regi_guide{
    text-align: left; 
    color:#d32f2f; 
    font-size:0.9rem; 
    font-weight: lighter;
}

/* ---------------------------------( success )---------------------------------------- */

.suc_container{
    padding-top:8rem;
    padding-bottom:10rem;
    width: 100%;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(248,249,250);
}

.suc_container i{
    color:rgb(124,199,106);
    font-size:7rem;
}

.suc_container span{
    color:rgb(164, 26, 55);
}

.suc_content1{
    margin-top:4rem;
    letter-spacing:1px;
    font-size:2.5rem;
}

.suc_content2{
    font-weight: lighter;
    margin-top:0.8rem;
    font-size:1.5rem; 
    color:rgb(199, 199, 199)
}

.suc_btn{
    background: rgb(164, 26, 55);
    width:230px;  
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    margin-top: 1.5rem;
    border-radius: 3px;
    padding:0.7rem;
    cursor: pointer;
    outline: 0;
    margin-top:4rem;
}

/* ---------------------------------( mypage 이동 버튼)---------------------------------------- */

.go_result_wrap{
    margin-top:1.5rem;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.go_result_box{
    text-align: center;
    width:200px;
}

.go_result_text{
    font-size:4rem;
}

.go_result_btn{
    background: rgb(164, 26, 55);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    padding:0.7rem 1rem 0.7rem 1rem;
    cursor: pointer;
    outline: 0;
}

/* ---------------------------------( mypage 박스 )---------------------------------------- */

.my_box_wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top:1.5rem;
    padding-left : 12rem;
    padding-right : 12rem;
}

.my_box{
    display: flex;
    flex-direction: column;
    width: 28rem;
    height: 18rem;
    padding:2.5rem;
    margin: 1rem 1rem 1rem;
    border:1px solid rgb(216, 216, 216);
    background-color: white;
    font-size:1rem;
}

.my_box_title{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    font-size:1.4rem;
    font-weight: bold;
}

.my_box_title i{
    margin-right:1rem;
    color:rgb(136, 136, 136);
}

.my_box_mod_btn{
    float:left;
    background: white;
    font-size: 0.85rem;
    font-weight: bold;
    border: 0.001px solid rgb(160, 160, 160);
    padding:0.5rem;
    cursor: pointer;
    outline: 0;
}

.my_box_grade hr,
.my_box hr{
    width:100%;
    border-top: 0.001px solid rgb(216, 216, 216);
    border-bottom: 0.001px solid white;
    margin-top:1rem;
    margin-bottom:1.3rem;
}

.my_box table{
    font-size:1.05rem;
}

.my_box tr{
    height:2.7rem;
}

.my_box_table_1st_td{
    width:35%;
    font-weight: bold;
}

/* ---------------------------------( mypage 기이수성적 )---------------------------------------- */

.show_table {
    margin-top: 1.5rem;
    padding: 0.7rem 0 0.7rem 0;
    height: 1.5rem;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
    border-top: 1.5px solid rgb(216, 216, 216);
    cursor: pointer;
}

.my_box_mod_btn:hover,
.show_table:hover {
    background-color: #f3f3f3;
}


.my_box_grade {
    display: flex;
    flex-direction: column;
    width: 68rem;
    height: auto;
    margin: 1rem 1rem 4rem;
    border: 1px solid rgb(216, 216, 216);
    background-color: white;
}


.grade_table {
    width: 90%;
    text-align: center;
    margin:0 auto;
    margin-top:1rem;
    margin-bottom:1rem;
}

.grade_table_th {
    font-size: 1rem;
    height: 2.5rem;
    background-color: #f8f8f8;
    border-right :1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

.grade_table_td {
    font-size: 0.9rem;
    height: 2rem;
    border-right :1px solid #dadada;
    border-bottom: 1px solid #dadada;
}


/* https://ingijjung.tistory.com/11 파일 업로드 css */

.box-file-input {
    background-color: rgb(248,249,250);
    padding:1rem ;
    margin:0 auto;
    width:60%;
    border:1px solid rgb(216, 216, 216);
}

.box-file-input span{
    font-size:1.1rem;
    font-weight: bold;
}

.box-file-input label{
    display:inline-block;
    background:#424242;
    border-radius: 3px;
    color:white;
    padding:0px 15px;
    line-height:35px;
    cursor:pointer;
}
  
.box-file-input label:after{
    content:"파일선택";
}
  
.box-file-input .file-input{
    display:none;
}
  
.box-file-input .filename{
    display:inline-block;
    padding-left:10px;
}

/* ---------------------------------( custom )---------------------------------------- */

.caution_div {
    color: #d32f2f;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.custom_box_wrap {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1280px;
    justify-content: center;
    align-content: center;
    margin-top: 1.5rem;
    padding-left: 12rem;
    padding-right: 12rem;
}

.custom_title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-top: 1rem;
    text-align: center;
}

.custom_subtitle {
    font-size: 1.4rem;
    font-weight: bold;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.custom_box {
    text-align: left;
    width: 50em;
    height: auto;
    padding: 1rem 2.5rem 1rem 2.5rem;
    margin: 1rem 1rem 2rem;
    border: 1px solid rgb(216, 216, 216);
    background-color: white;
    font-size: 0.9rem;
}

.custom_form {
    text-align: center;
    margin-bottom: 3rem;
}

.custom_form input[type="text"] {
    font-size: 1rem;
    background: none;
    border: 0.01px solid rgb(216, 216, 216);
    padding: 10px 10px 10px 15px;
    outline: 0;
    height: 1.5rem;
    width: 14rem;
}

.custom_box hr {
    width: 100%;
}

.result_zone {
    display: block;
    text-align: center;
    border: 1px solid rgb(153, 153, 153);
    margin-bottom: -1rem;
}

.new_td {
    height: 2rem;
    border-right: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

.td_input {
    height: 100%;
    width: 90%;
    border: 0;
    outline: none;
    text-align: center;
}

.new_td_input {
    height: 100%;
    width: 90%;
    border: 0;
    outline: none;
    text-align: center;
    color: #1ac06d;
    font-size: 0.9rem;
    font-weight: bold;
}

.ajax_search_btn {
    background: rgb(164, 26, 55);
    width: 8%;
    color: white;
    font-size: 1.1rem;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    padding: 0.5rem;
    cursor: pointer;
    outline: 0;
    margin-left: 0.3rem;
}

.add_btn {
    background: rgb(164, 26, 55);
    width: 14%;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    padding: 0.6rem 0.5rem 0.6rem 0.5rem;
    cursor: pointer;
    outline: 0;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.del_btn {
    background: white;
    border: 0.001px solid rgb(160, 160, 160);
    padding: 0.5rem;
    cursor: pointer;
    outline: 0;
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
}

.save_btn {
    background: rgb(164, 26, 55);
    width: 9%;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    padding: 0.5rem;
    cursor: pointer;
    outline: 0;
}


/* ---------------------------------( result )---------------------------------------- */

.lcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(248,249,250);
    padding-top : 1.5rem;
    padding-bottom : 6rem;
}
.fcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    max-width: 100%;
    height: 100%;
    background-color: rgb(248,249,250);
}

.rcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 100%;
    background-color: rgb(248,249,250);
    max-width: 1500px;
}

.resultbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    width: 405px;
    height: 300px;
    margin: 45px 35px 20px;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
    background-color: white;
    border:1.3px solid rgb(216, 216, 216);
}

.container0 {
    min-width: 750px;
    height: 370px;
}

.name {
    background-color: none;
    position: relative;
    padding: 15px 0 15px 0;
    font-size: 22px;
    font-weight: 600;
    text-align: center;

    border-width: 10px;
}

.box {
    display: flex;
    flex-direction: row;
    background-color: none;
    justify-content: space-evenly; 
    align-content: center;
    align-items: center;
    position: relative;

    width: 100%;
    border-radius: 30px;
}

.chart_box{
    margin-left : 20px;
    margin-right : 25px;
}


.sbox {
    margin: 0 -15px 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 17px;
    border-radius: 15px;
    border-style: solid;
    border-width: 0;
    position: relative;
    left: -22px;
    width: 180px;
    height: 220px;
}

.rbutton {
    width: 150px;
    position: relative;
    background-color: #444444;
    color : white;
    border: none;
    outline: 0;
    border-style: solid;
    border-width: 2.5px;
    border-radius: 18px;
    font-size: 17px;
    font-weight: 700;
    height: 40px;
    cursor: pointer;
    margin:10px 0 0 0;
}


.rbutton:hover {
    background-color: white;
    color: #272727;
}


.Sbox {
    width: 350px;
    height: 280px;
}

.gbox {
    display: flex;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    top: 0;
    letter-spacing: 2px;
    justify-content: space-around;
    flex-direction: row;
}

.total_gbox{
    margin: 8px 8px 5px 8px;
}

.q {
    position: relative;
    top: -10px;
}
.t {
    position: relative;
    right: 40px;
    width: 170px;
    margin: 2px;
    text-align: center;
    font-size:20px;
}
.T {
    font-size: 24px;
    margin-top: 5px;
    position: relative;
    top: 25px;
    left: -50px;
    width: 500px;
    background-color: none;
}
.Grade {
    position: relative;
    left: -70px;
    width: 150px;
}
.total_strong {
    position: relative;
    top: -105px;
    left: -175px;
    font-size: 38px;

}
.name0 {
    font-size: 29px;
}

strong {
    position: relative;
    top: -65px;
    left: -99px;
    text-decoration: none;
    font-size: 18px;
}

.r {
    width: 50px;
}
.l{
    font-size:17px;
}

.grade {
    color: #424242;
    font-weight: 500;

    position: relative;
    top: 1px;
    font-size: 18px;
    margin-right: 18px;

}
.p {
    position: relative;
    font-weight: 600;

    font-size: 17px;

    top: 5px;
    right: -50px;
    letter-spacing: 5px;

}

.y {
    width: 60px;
    top: 1px;

    margin: 0 10px 0 0;

}

.Y {
    position: relative;
    width: auto;

    top: -17px;
}
.book {
    color: #424242;
    margin: 0;

    font-weight: 500;
    position: relative;
    top: 1px;

    font-size: 18px;
    margin-left: 10px;
    margin-right: 10px;

}

.name title {
    font-size: 50px;
}

.Gbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cap {

    position: relative;
    display: block;
    height: 10px;
    top: 2px;
    left: -55px;
    margin: 0;
    font-size: 35px;
}

.p_div {
    width: 100%;
}



.mytd {
    border-right :1px solid #dadada;
    border-bottom: 1px solid #dadada;
}

.mytable {
    margin:0 auto;
    width: 80%;
    text-align: center;
    font-size: 1rem;
    padding-top : 2rem;
    padding-bottom : 1rem;
}

.myth {
    height: 2.5rem;
    background-color: #f8f8f8;
    font-weight: bolder;
    font-size: 1.2rem;
    border-bottom: 1px solid #dadada;
}

.mytr {
    color: black;
    height: 2.5rem ;
    border-bottom: 1px solid #dadada;
}

.mytr:hover {
    background-color: #f1f1f1;
}

.mydiv{
    padding : 0.5rem;
    font-size: 1rem;
    color :rgb(199, 199, 199)
}

.partdiv{
    padding-top : 2rem; 
    padding-bottom: 5rem; 
    font-size : 1.5rem;
    letter-spacing: 1.5px;
}

.gear{
    animation: i 5s linear infinite;
    font-size: 60px;
    transform-origin: 50% 50%;
}

@keyframes i{
    100% {
        transform: rotate(360deg);
     }
 }


 .tip_div{
    background-color: black;
    color:white;
    font-size:0.8rem;
    padding:0.1rem 0.3rem 0.1rem 0.3rem;
    border-radius: 5px;
    display: table-cell;
    vertical-align: middle;
}

 
/* ---------------------------------( 모달 )---------------------------------------- */

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    border-radius: 5px;
    margin: 5% auto;
    padding: 5rem;
    border: 1px solid #888;
    width: 80%;
    max-width: 1280px;
    height: auto;
}

.load-modal-content {
    background-color: #fefefe;
    border-radius: 5px;
    padding: 2.2rem;
    border: 1px solid #888;
    width: 40%;
    height: auto;
    margin:0;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
}

.update_modal_content{
    text-align: center;
    background-color: #fefefe;
    border-radius: 5px;
    padding: 2.5rem;
    border: 1px solid #888;
    width: 60%;
    max-width: 900px;
    height: auto;
    margin:0;
    position:fixed;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
}

.modal_div {
    padding: 1rem;
    display : flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    text-align: center;
}

.login-content {
    margin: 2% auto;
    width: 30%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 2.5rem;
    font-weight: bold;
}

.close:focus,
.close:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* ---------------------------------( 툴팁 )---------------------------------------- */


.tooltip {
    cursor: pointer;
}

.tooltip_info {
    cursor: pointer;
    color:#d32f2f; 
    text-decoration : underline
}

.tooltip_text {
    text-align: left;
    background-color: white;
    bottom: 3rem;
    left: -170px;
    width: auto;
    height: auto;
    box-shadow: 1px 1px 2px black;
    padding: 10px 35px 10px 35px;
    color: black;
    border-color: lightgrey;
    border-style: solid;
    border-width: 0.5px;
    display: none;
    letter-spacing: 0.7px;
    border-radius: 10px;
    font-size: 0.9rem;
    position: absolute;
    white-space: nowrap;
}

.tooltip_text2 {
    text-align: left;
    background-color: white;
    /* bottom: -250px; */
    margin-top:-205px;
    margin-left:-205px;
    /* left : 750px; */
    width: auto;
    height: auto;
    box-shadow: 1px 1px 2px black;
    padding: 10px 35px 10px 35px;
    color: black;
    border-color: lightgrey;
    border-style: solid;
    border-width: 0.5px;
    display: none;
    letter-spacing: 0.7px;
    border-radius: 10px;
    font-size: 0.9rem;
    font-weight: bold;
    position: absolute;
    white-space: nowrap;
}

.my_tooltip_text.active,
.tooltip_text.active,
.tooltip_text2.active {
    display: block;
}


.tooltip_span{
    color : #d32f2f;
}

.tooltip_sub_p{
    margin-left: 1rem;
    font-size:0.85rem
}

.navbar_toggle {
    display: none;
    font-size: 24px;
    position: absolute;
    top: 3%;
    right: 4%;
}


.my_tooltip_text{
    background-color: white;
    margin:0 auto;
    z-index: 2;
    width: auto;
    height: auto;
    padding: 0.5rem 2rem 0.5rem 2rem;
    color: black;
    border:1px solid rgb(163, 163, 163);
    border-radius: 20px;
    display: none;
    font-size: 0.9rem;
    position: fixed;
}


/* ---------------------------------( loading )---------------------------------------- */

.modal_loadcontainer{
    padding-top:3rem;
    padding-bottom:3rem;
    width: 100%;
    font-weight: 700;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loadcontainer{
    height: 100vh;
    width: 100%;
    font-weight: 700;
    font-size: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(248,249,250);
}

.load_info{
    letter-spacing:1px; 
    margin-top:0.8rem; 
    font-size:1rem; 
    color:rgb(199, 199, 199)
}

.loading span {
    display: inline-block;
    margin: 0 -.075em;
    animation: loading .7s infinite alternate;
  }
  .loading span:nth-child(2) {
    animation-delay: .1s;
  }
  .loading span:nth-child(3) {
    animation-delay: .2s;
  }
  .loading span:nth-child(4) {
    animation-delay: .3s;
  }
  .loading span:nth-child(5) {
    animation-delay: .4s;
  }
  .loading span:nth-child(6) {
    animation-delay: .5s;
  }
  .loading span:nth-child(7) {
    animation-delay: .6s;
  }
  @keyframes loading {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0.8);
    }
  }
.sk-chase {
    width: 100px;
    height: 100px;
    position: relative;
    margin :60px;
    animation: sk-chase 2.5s infinite linear both;
  }
  
  .sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; 
    animation: sk-chase-dot 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #1a237e    ;
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
  .sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }
  
  @keyframes sk-chase {
    100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot {
    80%, 100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot-before {
    50% {
      transform: scale(0.4); 
    } 100%, 0% {
      transform: scale(1.0); 
    } 
  }
