<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}?after">
</head>

<body>

    index에서 잘 넘어옴.
    db 연동 검사
    <table>
        <tr>
            <th>num</th>
            <th>text</th>
        </tr>
        {% for t in t_h %}
        <tr>
            <td>{{t.num}}</td>
            <td>{{t.text}}</td>
        </tr>
        {% endfor %}
    </table>
    
</body>

</html>