{% extends 'reference.html' %}

{% block content %}

<!-- 처음 타이틀 -->
<div class="gray_sec">
    <div class="container">
        <div style="font-size:4rem;">
            <i class="fas fa-graduation-cap"></i>
        </div>
        <div class="big_title">안내사항</div>
        <div class="small_title">Please Graduate를 사용할 때 주의할 사항입니다.</div>
    </div>
</div>

<style>

</style>

<div class="white_sec">
    <div class="container">
        <!-- 검사 대상 박스 -->
        <div class="info_title">검사 관련</div>
        <div class="info_box">
            <div class="info_content">
                <p>
                    1. 현재 검사 가능한 학과-학번은 아래과 같습니다. 검사대상에 속하지 않다면 회원가입이 불가능합니다. <span class="caution_info">꼭 검사대상인지
                        확인하세요!</span>
                </p>
                <p style="margin-left:1rem; font-size:0.85rem;">
                    - 검사대상 확인 : &nbsp;<a id='target_btn' class="link_site" style='cursor: pointer;'>검사대상표</a>
                </p>
                <p>2. 전과생, 편입생, 외국학생에 해당하는 사용자는 검사 기준이 따로 설정되지 않았습니다.</p>
                <p>3. 연필/복필 기준은 15학점, 연선/복선 기준은 24학점으로만 설정되어 있습니다. 특수한 경우는 반영되지 않았습니다. (ex. 법학과, 건축학과, 항공시스템학과, 국방시스템공학과
                    복전)</p>
                <p>4. 추천 과목 정보는 2020-2, 2021-1학기에 열렸던 최신 기준으로 제공됩니다. (ex. 과거엔 서양철학이 2학점이였다면 현재는 3학점으로 변경됨)</p>
                <p>5. 검사 기준은 최신버전 수강편람(2021.02.22)을 반영하여 설정되었으며, 수강편람은 매년 개편되므로 자신이 알고 있는 구버전 수강편람과 다를 수 있습니다.</p>
                <p style="margin-left:1rem; font-size:0.85rem;">- 세종대학교 교과과정 참고 링크 : &nbsp;&nbsp;
                    <a class="link_site" target="_blank"
                        href="http://board.sejong.ac.kr/boardview.do?pkid=135291&currentPage=1&searchField=ALL&siteGubun=19&menuGubun=1&bbsConfigFK=335&searchLowItem=ALL&searchValue">
                        수강편람</a>
                    &nbsp;&nbsp;
                    <a class="link_site" target="_blank"
                        href="http://abeek.sejong.ac.kr/abeek/program0501.html">공학인증</a>
                </p>
                <p>6. 세종대학교에서 공식적으로 만든 사이트가 아니므로 <span class="caution_info">검사 결과가 정확하지 않을 수 있습니다.</span> 오류발생 시 상단 메뉴바
                    링크로 피드백 부탁드립니다.</p>
                <p>* 추후 공학인증 및 타과 검사 기준 업데이트 예정 😇</p>
            </div>
        </div>

        <!-- 안내사항 박스 -->
        <div class="info_title">안내 사항</div>
        <div class="info_box">
            <div class="info_content">
                <P>1. 학생인증 시&nbsp;
                    <a class="link_site" target="_blank" href="http://classic.sejong.ac.kr/">대양휴머니티칼리지</a>
                    사이트에서 학생 기본 정보와 고전독서의 영역별 인증 현황을 가져옵니다.
                </P>
                <p style="margin-left:1rem; font-size:0.85rem;">- 고전독서인증 : 대양휴머니티칼리지 -> 고전독서인증센터 -> 영역별 인증현황</p>
                <p>2. 사용자의 세종대학교 포털 사이트의 비밀번호는 인증에만 1회 사용되며 <span class="caution_info">저장되지 않습니다.</span></p>
                <p>3. 검사를 위해선 기이수성적 엑셀파일을 직접 업로드해야하므로 <span class="caution_info">PC환경</span>에서 진행하는 것을 권장합니다.</p>
                <p>4. 사용자가 업로드하는 기이수성적 엑셀파일은 <span class="caution_info">저장되지 않습니다.</span></p>
                <p>5. 사용자가 들었던 과목 정보만이 머신러닝을 위한 용도로 데이터베이스로 변환하여 저장됩니다. <span class="caution_info">(평점은 저장되지
                        않습니다.)</span></p>
                <p>6. 업로드 시 성적 중 평점이 F, NP인 과목은 인정되지 않고 자동 삭제됩니다.</p>
                <p>7. 관리자는 저장된 데이터베이스를 <span class="caution_info">절대 다른 용도로 사용하지 않습니다.</span></p>
            </div>
        </div>
        <br>
    </div>
</div>

<!-- 검사대상표 모달 -->
<div id="target_modal" class="modal" >
    <div class="modal-content" style='width:70%'>
        <span class="close" id="target_close">&times;</span>
        <br>
        <div class="modal_div">
            <div class="p_div">
                <!-- 추천과목 -->
                <div style="font-size : 1.5rem;"><i class="my_i fas fa-check-circle"></i> 검사대상표
                </div>
                <div class="mydiv">아래 표에 해당하는 학과-학번만 회원가입이 가능합니다.</div>
                <hr>

                <div class='target_num_div'>
                    현재 총 <span class='target_color_span'>{{ dep_num }}</span>개 학과 검사 가능
                </div>

                <table class="target_table">
                    <tr>
                        <th class="target_table_th" style='border-left: 1px solid #dadada;'>학과/전공</th>
                        <th class="target_table_th">학번</th>
                    </tr>
                    {% for dep, year in target %}
                    <tr>
                        <td class="target_table_td" style='border-left: 1px solid #dadada;'>{{ dep }}</td>
                        <td class="target_table_td" >{{ year }}</td>
                    </tr>
                    {% endfor %}
                </table>

                <div class='target_caution_div'>
                    ※ 전공이 정해지지 않은 학부 소속 1학년은 희망전공 선택 후 검사가능합니다.
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}



{% block js_section %}

{% load static %}
<script src="{% static 'js/modal.js' %}"></script>

<script>
    // 검사대상표 모달
    var target_btn = document.getElementById("target_btn");
    var target_modal = document.getElementById('target_modal');
    var target_close = document.getElementById("target_close");
    Btnclick(target_btn, target_modal);
    Spanclick(target_close, target_modal);
    window.onclick = function (event) {
        if (event.target == target_modal) {
            target_modal.style.display = "none";
        }
    }
</script>

{% endblock %}