<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <!--
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    -->
    <meta name="viewport" content="width=1280">
    
    <!-- static 폴더 참조 -->
    <!-- 원그래프 js는 각 페이지에서 소환해야됨 (일회성 호출이라서.) -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- favicon -->
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <!-- 웹 참조-->
    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/e8a335040d.js" crossorigin="anonymous"></script>

    <!-- 웹 폰트 참조-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap" rel="stylesheet">

    <title>Please Graduate</title>

    <!-- loading.html 때문에 만듬 -->
    {% block meta %}
    {% endblock %}
</head>

<body>
    <!-- 로고 / 메뉴바-->
    <nav class="navbar">
        <div class="navbar_logo">
            {% load static %}
            <a href="/"><img src="{% static 'img/logo.png' %}"></a>
        </div>
        
        <ul class="navbar_menu">
            <li>
                <a href='https://forms.gle/f2vUqVg9wQFneBLf7'  target="_blank">피드백하기</a>
            </li>
            <li>
                <a href='/statistics/'>교양통계</a>
            </li>

            {% if request.session.id %}
            <li>
                <a href='/mypage/'>마이페이지</a>
            </li>
            {% endif %}
            <li>
                <!-- 로그인 세션 활용 -->
                {% if not request.session.id  %}
                <a href='/login/'>로그인</a>
                {% else %}
                <a href='javascript:logout()'>로그아웃</a>
                {% endif %}
            </li>
        </ul>
        <a href="#" class="navbar_toggle">
            <i class="fas fa-bars"></i>
        </a>
    </nav>


    {% block content %}
    {% endblock %}


    <!--footer-->
    <footer class="footer">
        <ul class="footer_list">
            <li>
                - Contact -
            </li>
            <li>
                Email : hanjo8813@gmail.com
            </li>
            <li>
                GitHub : <a href='https://github.com/hanjo8813/PleaseGraduate' style='color:lightgrey' target='_blank'>https://github.com/hanjo8813/PleaseGraduate</a>
            </li>
        </ul>
        <h2 class="copyright">Copyright
            <i class="far fa-copyright"></i>
            2021 PleaseGraduate team <br>
            강전호, 강홍구, 권정현, 안재현, 한재원
        </h2>
    </footer>

    <!-- 아예 사용 못하게 할때 -->
    <div id='myModal_stop' class="modal" style ="display: block;">
        <div class="modal-content">
            <div class="modal_div">
                <div style="font-size:2.5rem; font-weight:bold; color : #d32f2f">
                    ※ 사이트 점검 중입니다. ※
                </div>
                <div style="font-size:1.3rem; margin-top:3rem;">
                    <p style="font-size:2rem; font-weight:bold;">~ 01:00 까지 점검 예정입니다.</p>
                </div>
            </div>
        </div>
    </div>
    

<!-- 업데이트 성공 모달창 -->
{% if messages %}
{% for m in messages %}
{% if m.tags == 'success' %}
<div id='u_m' class="modal" style="display: block;">
    <div class="update_modal_content" style="width:40%">
        <div style="color:rgb(124,199,106); font-size:7rem; margin:1rem 0 1rem 0">
            <i class="fas fa-check"></i>
        </div>
        <p style="font-size:2rem; font-weight: bold;">성공적으로 업데이트 되었습니다!</p>
        <button id="u_c" class='login_btn' style="margin:2rem 0 2rem 0;">확인</button>
    </div>
</div>
{% endif %}
{% endfor %}
{% endif %}
</body>


{% block js_section %}
{% endblock %}

<!-- 예외처리 -->
{% if messages %}
    {% for m in messages %}
        <!-- 로그인 오류 / 기타오류 발생시 -->
        {% if m.tags == 'error' %}
        <script>
            alert('{{ m }}') ;
        </script>
        {% endif %}
    {% endfor %}
{% endif %}

{% load static %}
<script src="{% static 'js/modal.js' %}"></script>

<script>
    function logout(){
        var back_head = confirm('✋ 정말 로그아웃 하시겠습니까? ✋');
        if(back_head){
            location.href = '/f_logout/';
        }
    };

    var u_m = document.getElementById('u_m');
    var u_c = document.getElementById("u_c");
    Spanclick(u_c, u_m);
</script>

<script>
    // Jennifer Front (동접자 모니터링)
    (function(j,en,ni,fer) {
        j['dmndata']=[];j['jenniferFront']=function(args){window.dmndata.push(args)};
        j['dmnaid']=fer;j['dmnatime']=new Date();j['dmnanocookie']=false;j['dmnajennifer']='JENNIFER_FRONT@INTG';
        var b=Math.floor(new Date().getTime() / 60000) * 60000;var a=en.createElement(ni);
        a.src='https://d-collect.jennifersoft.com/'+fer+'/demian.js?'+b;a.async=true;
        en.getElementsByTagName(ni)[0].parentNode.appendChild(a);
    }(window,document,'script','394dbe0e'));
</script>

</html>