{% extends 'reference.html' %}

{% block content %}

<style>
    .admin_container{
        margin:0 5rem 5rem 5rem;
    }

    .admin_container p{
        margin-top: 5rem;
        font-size: 2rem;;
        font-weight: bold;
        text-align: center;
    }
    .admin_container a{
        background-color: blue;
        color:white;
    }
    .admin_container a:hover{
        background-color: red;
    }

    .func_table{
        border :1px solid black;
    }
    .func_table td,th{ 
        border :1px solid black;
        height:3rem;
    }
    .admin_container form{
        margin-top:1rem;
    }

    .ut_table{
        margin:0 auto;
        border :1px solid black;
    }
    .ut_table td,th{ 
        border :1px solid black;
        height:1rem;
    }
</style>


<div class='admin_container'>
    <p>관리자 기능 (로컬에서만 실행가능)</p>
    <table class='func_table'>
        <tr>
            <th style='width:16%'>실행</th>
            <th style='width:42%'>기능설명</th>
            <th style='width:42%'>비고</th>
        </tr>
        <tr>
            <td>
                <a href="/f_test/">py 테스트용</a>
            </td>
            <td>views.py에서 터미널에 출력해보고 싶을때 사용</td>
        </tr>
        <tr>
            <td>
                <a href="/f_test_update/">테스트용 과목DB 업데이트</a>
            </td>
            <td>update_lecture 폴더 -> 1st + 2nd 과목을 기반으로<br> test_all_lecture / test_new_lecture 테이블 업데이트</td>
        </tr>
        <tr>
            <td>
                <!-- 실수로 누를까봐 막아둠
                <a href="/f_update/">실제 과목DB 업데이트</a>
                -->
            </td>
            <td>update_lecture 폴더 -> 1st + 2nd 과목을 기반으로<br> all_lecture / new_lecture 테이블 업데이트</td>
            <td style="color:red">업데이트시 많은 시간이 소요됨. 도중에 창을 끄면 DB에 삽입되다가 중단되므로 신중하게 업데이트</td>
        </tr>
        <tr>
            <td>
                <a href="/f_input_st/">기준 엑셀 DB에 넣기</a>
            </td>
            <td>update_lecture 폴더 -> input_standard 안에 있는 학과-학번 기준 엑셀 업데이트</td>
            <td style="color:red">업데이트시 많은 시간이 소요됨. 도중에 창을 끄면 DB에 삽입되다가 중단되므로 신중하게 업데이트</td>
        </tr>
    </table>

    <p>사용자 테스트</p>
        <table class = 'ut_table'>
            <tr>
                <th>id</th>
                <th>테스트</th>
            </tr>
            {% for id in uid %}
            <tr>
                <form action='/f_user_test/' method='post'>
                {% csrf_token %}
                    <td><input type='text' name='user_id' value='{{ id }}' readonly></td>
                    <td><input type='submit' value='테스트하기'></td>
                </form>
            </tr>
            {% endfor %}
        </table>
    
    
    
</div>

{% endblock %}
