{% extends 'reference.html' %}

{% block meta %}
<!-- 넘어오자마자 f_login 함수 호출 -->
<meta http-equiv="refresh" content="0; url=/f_login/"> 
{% endblock %}


{% block content %}
<div class="loadcontainer">
    <div class="sk-chase">
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
        <div class="sk-chase-dot"></div>
    </div>
    <div class="loading">
        <span>1</span>
        <span>.</span>
        <span>로</span>
        <span>그</span>
        <span>인</span>
        <span>정</span>
        <span>보</span>
        <span>확</span>
        <span>인</span>
        <span>중</span>
        <span>.</span>
        <span>.</span>
        <span>.</span>
    </div>
    <div style=" letter-spacing:1px; margin-top:0.8rem; font-size:0.9rem; color:rgb(199, 199, 199)">
        5초 정도 소요됩니다. 창을 이동하지 마세요!
    </div>
</div>
{% endblock %}