<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <!--
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    -->
    <meta name="viewport" content="width=1280">
    
    <!-- static 폴더 참조 -->
    <!-- 원그래프 js는 각 페이지에서 소환해야됨 (일회성 호출이라서.) -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- favicon -->
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <!-- 웹 참조-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/e8a335040d.js" crossorigin="anonymous"></script>

    <!-- 웹 폰트 참조-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap" rel="stylesheet">

    <title>Please Graduate</title>

    <!-- loading.html 때문에 만듬 -->
    {% block meta %}
    {% endblock %}
</head>

<body>
    <!-- 로고 / 메뉴바-->
    <nav class="navbar">
        <div class="navbar_logo">
            {% load static %}
            <a href="/"><img src="{% static 'img/logo.png' %}"></a>
        </div>
        
        <ul class="navbar_menu">
            <li>
                <a href='https://forms.gle/f2vUqVg9wQFneBLf7'  target="_blank">피드백/만족도조사</a>
            </li>
            {% if request.session.id %}
            <li>
                <a href='/mypage/'>마이페이지</a>
            </li>
            {% endif %}
            <li>
                <!-- 로그인 세션 활용 -->
                {% if not request.session.id  %}
                <a href='/login/'>로그인</a>
                {% else %}
                <a href='javascript:logout()'>로그아웃</a>
                {% endif %}
            </li>
        </ul>
        <a href="#" class="navbar_toggle">
            <i class="fas fa-bars"></i>
        </a>
    </nav>


    {% block content %}
    {% endblock %}


    <!--footer-->
    <footer class="footer">
        <ul class="footer_list">
            <li>
                - Contact -
            </li>
            <li>
                Email : hanjo8813@gmail.com
            </li>
            <li>
                GitHub : https://github.com/hanjo8813/SGH_for_AWS
            </li>
        </ul>
        <h2 class="copyright">Copyright
            <i class="far fa-copyright"></i>
            2021 PleaseGraduate team <br>
            강전호, 강홍구, 권정현, 안재현, 한재원
        </h2>
    </footer>

    <!-- 아예 사용 못하게 할때
    <div id='myModal_stop' class="modal" style ="display: block;">
        <div class="modal-content">
            <div class="modal_div">
                <br>
                <div style="font-size:2.5rem; font-weight:bold; color : #d32f2f">
                    ※ 사용 금지!
                </div>
            </div>
        </div>
    </div>
    -->

<!-- 업데이트 성공 모달창 -->
{% if messages %}
{% for m in messages %}
{% if m.tags == 'success' %}
<div id='u_m' class="modal" style="display: block;">
    <div class="update_modal_content" style="width:40%">
        <div style="color:rgb(124,199,106); font-size:7rem; margin:1rem 0 1rem 0">
            <i class="fas fa-check"></i>
        </div>
        <p style="font-size:2rem; font-weight: bold;">성공적으로 업데이트 되었습니다!</p>
        <button id="u_c" class='login_btn' style="margin:2rem 0 2rem 0;">확인</button>
    </div>
</div>
{% endif %}
{% endfor %}
{% endif %}
</body>


{% block js_section %}
{% endblock %}

<!-- 예외처리 -->
{% if messages %}
    {% for m in messages %}
        <!-- 로그인 오류 / 기타오류 발생시 -->
        {% if m.tags == 'error' %}
        <script>
            alert('{{ m }}') ;
        </script>

        <!-- 기존 사용자가 재검사 할 경우 -->
        {% elif m.tags == 'info' %}
        <script>
            var update = confirm('{{ m }}') ;
            // 확인을 누르면 바로 검사창으로
            if(update){
                location.href='/loading3/';
            }
            // uis 크롤링 호출
            else{
                location.href='/f_uis/';
            }
        </script>
        {% endif %}
    {% endfor %}
{% endif %}

<script>
    function logout(){
        var back_head = confirm('✋ 정말 로그아웃 하시겠습니까? ✋');
        if(back_head){
            location.href = '/f_logout/';
        }
    };

    // 모달 창 켜기
    var Btnclick = function (x, y) {
        x.onclick = function () {
            y.style.display = "block";
        }
    }
    // 모달 창 끄기
    var Spanclick = function (x, y) {
        x.onclick = function () {
            y.style.display = "none";
        }
    }
    var u_m = document.getElementById('u_m');
    var u_c = document.getElementById("u_c");
    Spanclick(u_c, u_m);

</script>

</html>