{% extends 'reference.html' %}

{% block content %}

<!-- 처음 타이틀 -->
<div class="gray_sec">
    <div class="container">
        <div style="font-size:4rem;">
            <i class="fas fa-graduation-cap"></i>
        </div>
        <div style="font-size:2rem; font-weight:bold;">회원가입</div>
    </div>
</div>


<!-- 입력란 -->
<div class="white_sec">
    <div class="container">
        이름 : <br>
        학과 : (드롭다운) * 둘중 선택하세요<br>
        학번 : <br>
        전공상태 : (드롭다운) 해당없음 / 복수전공 / 연계전공 <br>
        고전독서인증 : <br>
        영어성적 : (드롭다운) 그리고 점수 쓰는 칸<br>
        기이수과목 : 업로드 하는 칸<br>
    </div>
</div>
        



{% endblock %}



{% block js_section %}
{% endblock %}