{% extends 'reference.html' %}

{% block content %}

<div class="gray_sec">
    <div class="container">
        <div style="font-size:4rem;">
            <i class="fas fa-graduation-cap"></i>
        </div>
        <div style="font-size:2rem; font-weight:bold;">학부생 전공 선택</div>
    </div>
</div>

<!-- 입력란 -->
<div class="white_sec">
    <div class="container">
        <form action="/f_mod_info_ms/" method="post" onsubmit="return check_up()">
            {% csrf_token %}
            <div class="regi_box">
                <label>본인 학부의 전공을 선택하세요</label>
                <select id="major_select" name="major_select">
                    <option value="x" selected>-- 선택(필수) --</option>
                    {% for ms in major_select %}
                    <option value="{{ ms }}">{{ ms }}</option>
                    {% endfor %}
                </select>
            </div>
            <input type='submit' class='regi_btn' value='수정하기'>
        </form>
    </div>
</div>
    
{% endblock %}


{% block js_section %}

<script>
    // 학부생일경우 학과 선택했는지 확인
    function check_up(){
        if(document.getElementById('major_select'))
            {
                var sel_box = document.getElementById('major_select');
                var sel_ind = document.getElementById('major_select').options.selectedIndex;
                if(sel_box.options[sel_ind].value === 'x'){
                    alert('전공을 선택해주세요.') ;
                    return false;
                }
            }
            return true;
    }
    
</script>

{% endblock %}