{% extends 'reference.html' %}

{% block content %}
<div class="bg_wrapper">
    <!-- 메인 -->
    <header class="main_bg">
        <!-- 세종대 로고 -->
        <div class="sejong_logo"></div>
        <!-- 소개 문구 -->
        <div class="bg_text_btn">
            <div class="bg_small_text fadein_text">
                세종인을 위한 간편한 졸업요건 검사 사이트
            </div>
            <div class="bg_big_text fadein_text">
                Please Graduate
            </div>
            <div class="bg_btn">
                {% if request.session.id %}
                <button class="bg_btn_style" onclick="location.href='/mypage/'">검사하기</button>
                {% else %}
                <button class="bg_btn_style" onclick="location.href='/login/'">검사하기</button>
                {% endif %}
            </div>
        </div>
        <!-- 방문자 + 검사횟수 -->
        <div class="num_visit">
            <div>
                <i class="fas fa-calendar-day"></i>&nbsp;&nbsp;오늘 방문자 수 : {{visit_today}}
            </div>
            <div style="margin-top:0.4rem;">
                <i class="fas fa-mouse" style="margin-right:0.1rem;"></i>&nbsp;&nbsp;총 방문자 수 : {{visit_total}}
            </div>
            <div style="margin-top:0.4rem;">
                <i class="fas fa-user"></i>&nbsp;&nbsp;총 회원 수 : {{user_num}}
            </div>
        </div>
    </header>
</div>

<!-- 업데이트 공지 -->
<div id='myModal' class="modal" style="display: none;">
    <div class="modal-content">
        <span id='dd' class="close" style="font-size:3rem;">&times;</span>
        <div class='popup_content'>
            <div class='popup_title'>
                공지사항
            </div>
            <div class='popup_box'>
                <ul>
                    <li>모바일 환경에선 화면이 깨질 수 있으므로 웹 환경을 권장합니다.</li>
                    <hr style='border: 0.001px solid rgb(230, 230, 230); margin:1rem 0 1rem 0; width:85%'>
                    <li>
                        <b>version 2.3.2 업데이트 내용</b>&nbsp;&nbsp;
                        <a class="link_site" target="_blank" href="https://github.com/hanjo8813/PleaseGraduate/blob/master/dev_record.md">업데이트 기록 보기</a>
                    </li>
                    <li>2023-1학기 강의시간표 및 수강편람 정보가 업데이트 되었습니다.</li>
                    <li style="margin-left:1.2rem; font-size:1rem;">
                        컴퓨터공학과 16학번 전공학점 기준 변경
                    </li>
                    <li style="margin-left:1.2rem; font-size:1rem;">
                        수학통계학과 22학번 전필학점 오류 수정
                    </li>
                </ul>
            </div>
            <div class="popup_check">
                <label style='cursor:pointer'>
                    <input id='unlook' type="checkbox" style='width:1rem; height:1rem;'>
                    <label for='unlook'></label>
                    &nbsp;다음 공지까지 보지 않을래요
                </label>

            </div>
        </div>
    </div>
</div>

<!-- 웹 권장 모달 (모바일에서만 뜸) 
<div id='myModal' class="modal" style ="display: none;">
    <div class="modal-content">
        <span class="close" style="font-size:5rem;">&times;</span>
        <div class="modal_div">
            <br><br><br><br><br>
            <div style="font-size:3rem; font-weight:bold; padding-bottom:6rem;">
                모바일 환경에서는 화면이 깨질 수 있으므로 PC 환경에서의 사용을 권장합니다. <br>
                (모바일 사용시 가로모드 권장)
            </div>
        </div>
    </div>
</div>
-->

{% endblock %}


{% block js_section %}
<!-- js 파트 -->
<script>
    /*
    // 기기 검사
    var filter = "win16|win32|win64|mac|macintel"; 
    if ( navigator.platform ) { 
        // 모바일에서만 보이게함
        if(filter.indexOf( navigator.platform.toLowerCase() ) < 0 ) { 
            document.getElementById('myModal').style.display="block";
        } 
    }
    */

    // 쿠키 여부에 따라 모달창 렌더링
    var unlook_cookie = document.cookie.match('(^|;) ?' + 'is_unlook_0212' + '=([^;]*)(;|$)');
    if (unlook_cookie == null) {
        document.getElementById('myModal').style.display = 'block';
    }

    // 모달 창 끄기 + 다시 보지 않음 쿠키 설정
    var Spanclick_set_cookie = function (x, y) {
        x.onclick = function () {
            y.style.display = "none";
            var chk = document.getElementById('unlook');
            // 체크하고 누르면 쿠키 생성
            if (chk.checked) {
                var date = new Date();
                date.setTime(date.getTime() + 60 * 24 * 60 * 60 * 1000);
                document.cookie = 'is_unlook_0212' + '=' + 'unlook' + ';expires=' + date.toUTCString() + ';path=/';
            }
        }
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    var modal = document.getElementById('myModal');
    var span = document.getElementsByClassName("close")[0];

    Spanclick_set_cookie(span, modal);
</script>

{% endblock %}