{% extends 'reference.html' %}

{% block content %}

<!-- 처음 타이틀 -->
<div class="gray_sec">
    <div class="container">
        <div style="font-size:4rem;">
            <i class="fas fa-graduation-cap"></i>
        </div>
        <div class="big_title">Please Graduate에 오신걸 환영합니다</div>
        <div class="small_title">version 2.3.0</div>
    </div>
</div>

<!-- 로그인 박스 -->
<div class="white_sec">
    <div class="container">
        <div class="login_title" style="font-size:2rem; padding-top:3rem;">로그인</div>
        <div style="margin-top:0.5rem; font-size:1rem; color:rgb(199, 199, 199)">
            학번과 Please Graduate 사이트의 비밀번호를 입력해주세요.
        </div>
        <div class="login_box">
            <!-- 로그인 폼 -->
            <form action="/f_login/" method="post" onsubmit="return check_up1()">
                {% csrf_token %}
                <div class="textbox">
                    <label>아이디</label>
                    <input type="text" id="id" name="id" placeholder="ID">
                    <label>비밀번호</label>
                    <input type="password" id="pw" name="pw" placeholder="PASSWORD">
                </div>
                <div id="">
                    <input type='submit' class='login_btn' value='로그인'>
                </div>
                <div class="regi_find_pwd">
                    <a href="/agree/">회원가입</a>
                    <span>|</span>
                    <a id="b2" href="#">비밀번호찾기</a>
                </div>
            </form>
        </div>
    </div>
</div>        

<!-- 비밀번호 변경 -->
<div id='m2' class="modal">
    <div class="update_modal_content">
        <div id='c2' class="close">&times;</div>
        <div class="login_title" style="font-size:2rem; margin-top:1.7rem;">
            비밀번호 찾기
        </div>
        <div style="margin-top:0.5rem; font-size:0.9rem; color:rgb(199, 199, 199)">
            대양휴머니티칼리지 사이트에 로그인하여 인증 후 비밀번호를 변경합니다. (세종대학교 포털 ID/PW와 동일) 
        </div>
        <hr style="width:80%; margin-top:1.3rem;">
        <!-- 폼 -->
        <form action="/f_find_pw/" method="post" name='form2' onsubmit="return check_up2()">
            {% csrf_token %}
            <div class="regi_box">
                <label style="text-align: center;">아이디</label>
                <input type="text" id="id2" name="id2" placeholder='ID'>
                <label style="text-align: center;">비밀번호</label>
                <input type="password" id="pw2" name="pw2" placeholder="PASSWORD">
            </div>
            <input type='submit' class='login_btn' value='인증하기' style="margin:2.5rem 0 2rem 0;">
        </form>
    </div>
</div>

<!-- 로그인시 로딩 모달 창 -->
<div id='m1' class="modal">
    <div class="load-modal-content">
        <div class="modal_loadcontainer">
            <div class="sk-chase">
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
                <div class="sk-chase-dot"></div>
            </div>
            <div class="loading">
                <span>인</span>
                <span>증</span>
                <span>정</span>
                <span>보</span>
                <span>확</span>
                <span>인</span>
                <span>중</span>
                <span>.</span>
                <span>.</span>
                <span>.</span>
            </div>
            <div class="load_info">
                창을 이동하지 마세요!
            </div>
        </div>
    </div>
</div>

{% endblock %}



{% block js_section %}
{% load static %}
<script src="{% static 'js/modal.js' %}"></script>

<script>
    // 인증하기 클릭시 modal 띄움
    function pop_modal(){
        document.getElementById('m1').style.display = "block";
    }

    // ID/비번 안치면 빠꾸
    function check_up1() {
        if (!document.getElementById('pw').value || !document.getElementById('id').value) {
            alert('⚠️ ID/PW를 입력해주세요.');
            return false;
        }
        pop_modal();
        return true;
    }
    function check_up2() {
        if (!document.getElementById('pw2').value || !document.getElementById('id2').value) {
            alert('⚠️ ID/PW를 입력해주세요.');
            form2.pw2.focus();
            return false;
        }
        pop_modal();
        return true;
    }

    var b2 = document.getElementById("b2");
    var m2 = document.getElementById('m2');
    var c2 = document.getElementById("c2");
    Btnclick(b2, m2);
    Spanclick(c2, m2);
    window.onclick = function (event) {
        if (event.target == m2) {
            m2.style.display = "none";
        }
    }
</script>
{% endblock %}