<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <!--
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    -->
    <meta name="viewport" content="width=1280">

    <!-- static 폴더 참조 -->
    <!-- 원그래프 js는 각 페이지에서 소환해야됨 (일회성 호출이라서.) -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}?date=230907">
    <!-- favicon -->
    <link rel="icon" href="{% static 'img/favicon.ico' %}">

    <!-- 웹 참조-->
    <script src="//code.jquery.com/jquery-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/e8a335040d.js" crossorigin="anonymous"></script>

    <!-- 웹 폰트 참조-->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-219523848-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-219523848-1');
    </script>

    <title>Please Graduate</title>
</head>

<body>
    <!-- 로고 / 메뉴바-->
    <nav class="navbar">
        <div class="navbar_logo">
            {% load static %}
            <a href="/"><img src="{% static 'img/logo.png' %}"></a>
        </div>

        <ul class="navbar_menu">

            <!-- <div class="navbar_logo">
                {% load static %}
                <a href="/"><img src="{% static 'img/logo.png' %}"></a>
            </div> -->

            <!-- <li>
                <a href='https://hanjo.notion.site/438e8f9a47c24cc4b268c8b8fb6349a1' target="_blank">Q&A</a>
            </li> -->

            <li>
                <a href='https://forms.gle/f2vUqVg9wQFneBLf7' target="_blank">피드백하기</a>
            </li>

            <li>
                <a href='/statistics/'>꿀교양찾기</a>
            </li>

            {% if request.session.id %}
            <li>
                <a href='/mypage/'>마이페이지</a>
            </li>
            {% endif %}

            <li>
                <!-- 로그인 세션 활용 -->
                {% if not request.session.id %}
                <a href='/login/'>로그인</a>
                {% else %}
                <a href='javascript:logout()'>로그아웃</a>
                {% endif %}
            </li>
        </ul>
    </nav>


    {% block content %}
    {% endblock %}


    <!--footer-->
    <footer class="footer">
        <ul class="footer_list">
            <li>
                - Contact -
            </li>
            <li>
                Email : hanjo8813@gmail.com
            </li>
            <li>
                GitHub : <a href='https://github.com/hanjo8813/PleaseGraduate' style='color:lightgrey'
                    target='_blank'>https://github.com/hanjo8813/PleaseGraduate</a>
            </li>
        </ul>
        <h2 class="copyright">Copyright
            <i class="far fa-copyright"></i>
            2021 PleaseGraduate team <br>
            강전호, 강홍구, 권정현, 안재현, 한재원
        </h2>
    </footer>



    {% if request.session.id %}
    <!-- 주의사항 버튼 -->
    <div class="info_btn" onclick='pop_info_modal()'>
        <i class="fas fa-question"></i>
    </div>

    <!-- 주의사항 모달 -->
    <div id="info_modal" class="modal">
        <div class="modal-content" style='width:80%'>
            <span class="close" onclick='close_info_modal()'>&times;</span>
            <div class="container" style='padding:0 1rem 0 1rem; '>

                <!-- 과목 관련 -->
                <div class="info_title">도움말</div>
                <div class="info_box">
                    <div class="info_content">
                        <p>1. 각 영역별 졸업요건 만족 조건을 잘 모르겠다면 검사 결과창에서 <b>Tip</b> 버튼을 눌러보세요!</p>
                        <p>2. 타학과 전공 인정과목은 학교에서 처리하기 전까지 엑셀파일에 <b>'교양'</b>으로 기재됩니다. 추후 학교측에서 이수구분을 전공으로 변경합니다.</p>
                        <p>3. <b>English Listening Practice 1</b> 혹은 <b>대학영어</b> 과목을 이수면제 받은 사용자는 아래의 절차를 통해
                            해당 과목을 추가할 수 있습니다.</p>
                        <p style="margin-left:1rem; font-size:0.85rem;">
                            - 커스텀기능 > 학수번호에 "면제" 검색 > 출력된 ELP1/대학영어 커스텀 과목 추가 (0학점짜리)
                        </p>
                        <p>4. <span class="caution_info">Please Graduate의 고전독서인증현황과 기이수과목은 자동으로 업데이트 되지 않습니다.</span></p>
                        <p style="margin-left:1rem; font-size:0.85rem;">
                            - 고전독서인증현황에 변동이 있을 경우, 대양휴머니티칼리지 > 나의 인증현황 메뉴에서 변경 확인 후 마이페이지에서 업데이트하시길 바랍니다.
                        </p>
                        <p style="margin-left:1rem; font-size:0.85rem;">
                            - 학기가 끝난 후, 학사정보시스템에서 기이수성적표가 완성되면 마이페이지에서 엑셀을 새로 업로드하시길 바랍니다.
                        </p>
                    </div>
                </div>

                <!-- 검사관련 박스 -->
                <div class="info_title">검사 관련</div>
                <div class="info_box">
                    <div class="info_content">
                        <p>1. <b>복수전공</b> 기준은 복필-15학점, 복선-24학점 / 주전공 전필-15학점, 전선-24학점으로 설정되어 있습니다.</p>
                        <p style="margin-left:1rem; font-size:0.85rem;">
                            ※ 법학과, 건축학과, 항공시스템공학과, 국방시스템공학과 복전 등의 특수한 경우는 기준학점이 다르며, 반영되지 않았습니다.
                        </p>
                        <p>2. <b>연계·융합전공</b> 기준은 연선-15학점, 연필-24학점 / 주전공 전필-15학점, 전선-24학점으로 설정되어 있습니다.</p>
                        <p>3. 복수/연계 <b>부전공</b>에 대한 기준은 설정되지 않았습니다. 이를 유의하시기 바랍니다.</p>
                        <p>4. 추천 과목 정보는 2022-2, 2023-1학기 정보로, 최신 기준으로 제공됩니다. (ex. 과거엔 서양철학이 2학점이였다면 현재는 3학점으로 변경됨)</p>
                        <p>5. 검사 기준은 최신버전 수강편람(2023.02.04)을 반영하여 설정되었으며, 수강편람은 매년 개편되므로 자신이 알고 있는 구버전 수강편람과 다를 수 있습니다.
                        </p>
                        <p style="margin-left:1rem; font-size:0.85rem;">- 세종대학교 교과과정 참고 링크 : &nbsp;&nbsp;
                            <a class="link_site" target="_blank"
                            href="http://board.sejong.ac.kr/boardview.do?pkid=160129&currentPage=1&searchField=ALL&siteGubun=19&menuGubun=1&bbsConfigFK=335">
                            수강편람</a>
                            &nbsp;&nbsp;
                            <a class="link_site" target="_blank"
                                href="http://abeek.sejong.ac.kr/abeek/program0501.html">공학인증</a>
                        </p>
                        <p>6. 세종대학교에서 공식적으로 만든 사이트가 아니므로 <span class="caution_info">검사 결과가 정확하지 않을 수 있습니다.</span> (반드시 수강편람을 통한 졸업요건 2차 검증을 해야합니다.)</p>
                        <p>7. 졸업요건 기준이 잘못 설정되었거나, 오류발생 시 상단 메뉴바링크로 피드백 부탁드립니다.</p>
                    </div>
                </div>

                <!-- 안내사항 박스 -->
                <div class="info_title">안내 사항</div>
                <div class="info_box">
                    <div class="info_content">
                        <p>1. 비밀번호 찾기 및 내정보 업데이트 사용시&nbsp;
                            <a class="link_site" target="_blank" href="https://portal.sejong.ac.kr/">세종대학교포털</a>
                            사이트에서 개인정보수집 동의가 되어있어야합니다. (보통 동의되어있음)
                        </p>
                        <p style="margin-left:1rem; font-size:0.85rem;">- 로그인 -> 정보수정 -> 개인정보수집동의 모두 동의</p>
                        <P>2. 내정보 업데이트 시&nbsp;
                            <a class="link_site" target="_blank" href="http://classic.sejong.ac.kr/">대양휴머니티칼리지</a>
                            사이트에서 학생 기본 정보와 고전독서의 영역별 인증 현황을 가져옵니다.
                        </P>
                        <p style="margin-left:1rem; font-size:0.85rem;">- 고전독서인증 : 대양휴머니티칼리지 -> 고전독서인증센터 -> 영역별 인증현황</p>
                        <p>3. 사용자의 세종대학교 포털 사이트의 비밀번호는 인증에만 1회 사용되며 <span class="caution_info">저장되지 않습니다.</span></p>
                        <p>4. 검사를 위해선 기이수성적 엑셀파일을 직접 업로드해야하므로 <span class="caution_info">PC환경</span>에서 진행하는 것을 권장합니다.
                        </p>
                        <p>5. 사용자가 업로드하는 기이수성적 엑셀파일은 <span class="caution_info">저장되지 않고,</span> 평점을 제외한 과목정보만이 데이터베이스로
                            변환하여 저장됩니다.</p>
                        <p>6. 업로드 시 성적 중 평점이 <span class="caution_info">F, NP인 과목은 인정되지 않고 자동 삭제됩니다.</span></p>
                        <p>7. 저장된 사용자 데이터베이스는 <span class="caution_info">과목추천 및 교양과목 통계</span>에만 사용되며, 다른 용도로 사용되지 않습니다.
                        </p>
                    </div>
                </div>
            </div>
            <div style="text-align: center;">
                <button onclick="close_info_modal()" class="suc_btn" style="letter-spacing: 5px;">닫기</button>
            </div>
        </div>
    </div>
    {% endif %}

    <!-- 업데이트 성공 모달 -->
    {% if messages %}
    {% for m in messages %}
    {% if m.tags == 'success' %}
    <div id='u_m' class="modal" style="display: block;">
        <div class="update_modal_content" style="width:40%">
            <div style="color:rgb(124,199,106); font-size:7rem; margin:1rem 0 1rem 0">
                <i class="fas fa-check"></i>
            </div>
            <p style="font-size:2rem; font-weight: bold;">성공적으로 업데이트 되었습니다!</p>
            <button id="u_c" class='login_btn' style="margin:2rem 0 2rem 0;">확인</button>
        </div>
    </div>
    {% endif %}
    {% endfor %}
    {% endif %}

    <!-- 사용금지 모달
    <div id='myModal_stop' class="modal" style ="display: block;">
        <div class="modal-content">
            <div class="modal_div">
                <div style="font-size:2.5rem; font-weight:bold; color : #d32f2f">
                    ※ 사이트 점검 중입니다. ※
                </div>
                <div style="font-size:1.3rem; margin-top:3rem;">
                    <p style="font-size:2rem; font-weight:bold;">~ 01:00 까지 점검 예정입니다.</p>
                </div>
            </div>
        </div>
    </div>-->
</body>


{% block js_section %}
{% endblock %}

<!-- 예외처리 -->
{% if messages %}
{% for m in messages %}
<!-- 로그인 오류 / 기타오류 발생시 -->
{% if m.tags == 'error' %}
<script>
    alert('{{ m }}');
</script>
{% endif %}
{% endfor %}
{% endif %}

{% load static %}
<script src="{% static 'js/modal.js' %}"></script>

<script>
    function logout() {
        var back_head = confirm('✋ 정말 로그아웃 하시겠습니까? ✋');
        if (back_head) {
            location.href = '/f_logout/';
        }
    };

    // 업데이트 모달
    var u_m = document.getElementById('u_m');
    var u_c = document.getElementById("u_c");
    Spanclick(u_c, u_m);

    // 주의사항 모달
    function pop_info_modal() {
        document.getElementById('info_modal').style.display = "block";

    }
    function close_info_modal() {
        document.getElementById("info_modal").style.display = "none";
    }

</script>


</html>